#home-hero-img{
    position: fixed;
    background: url("../../assets/beach.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%; 
    z-index: 4;

}

#run-away-btn {
    background: #F07167;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 7px 0px #c9574f;
    padding: 13px 29px;
    font-size: 2em;
}

#run-away-btn:hover {
    color: #F07167;
    background: white;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: #403233;
    margin: 10px;
    padding: 40px;
    text-shadow: 0 10 10px white; 
}