main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

nav {
    position: fixed;
    background: #FED9B7;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    max-width: 1440px;
    justify-content: center;
    align-items: center;

}

li {
    display: inline;
    margin-right: 5%;

}

.logo-item {
    margin-right: auto;
    

}
.logo-img {

    width: 30%;
    margin-right: 80%;
    
}

.page-container{
    margin: 10%;
}
